<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcp.Perspective"
            id="RCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp.FirstView"
            id="rcp.FirstView"
            name="第一个视图">
      </view>
      <view
            class="rcp.ContactsView"
            id="rcp.ContactsView"
            name="联系人视图">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RCP.application"
            name="%productName">
         <property
               name="windowImages"
               value="eclipse16.gif,eclipse32.gif,eclipse48.gif,eclipse16.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,225,320,20">
         </property>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
